.jumbotron {
  text-align: center;
  background-color: #dba759;
  color: white;
}

body {
  color: gray;
}

.btn {
  margin-bottom: 5rem;
}

img {
  margin-top: 3rem;
}

#reverse, #reset, .result-img {
  display: none;
}
