.jumbotron {
  text-align: center;
  background-color: #dba759;
  color: white;
}

body {
  color: gray;
}

form {
  margin-bottom: 5rem;
}

img {
  margin-top: 3rem;
}

.hidden-btn, .result-img {
  display: none;
}
